<%= render partial: 'shared/navbar' %>
<h1>Users::Employees::Meetings#edit</h1>
<%= form_for @meeting, method: 'patch', url: users_employees_meeting_path do |f| %>
<%= render partial: 'users/shared/forms', locals: {f: f} %>
<% end %>