<p>
  Name:<br>
  <input type="text" id="name"><br>
</p>
<p>
  Capacity: <br>
  <input type="number" id="capacity">
</p>
<p>
  Address: <br>
  <input type="textarea" id="address">
</p>
<p>
  Status: <br>
  <select id="status">
  <option value="available">available</option>
  <option value="not available">Not available</option>
</select>
</p>
<p>
 <input class='save' type="submit" value= "submit">
</p>
