<table class="table table-hover" >
  <thead>
    <tr>
      <th>Name </th>
      <th>Address</th>
      <th>Capacity</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="table_body">
  </tbody>
</table>